@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: Roboto;
}

.login-comp-logo {
  max-width: 272px;
  max-height: 58px;
  margin-bottom: 20px;
}

.login-page-img {
  margin: 0 100px 0 0;
}

.login-div {
  margin-top: 80px;
}

.login-form-bottom {
  max-width: 430px;
}

.title-header {
  text-align: left;
  font-size: 40px;
  font-family: Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  opacity: 1;
  margin-bottom: 30px;
  max-width: 500px;
}

.login-into-header {
  text-align: left;
  font-family: Roboto;
  font-size: 25px;
  letter-spacing: 0px;
  color: #3e3e3e;
  opacity: 1;
}

.login-form-username,
.login-form-password {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #adadad;
  border-radius: 5px;
  opacity: 1;
  display: block;
  min-width: 430px;
  min-height: 49px;
  margin: 0 0 20px 0;
}

.login-button {
  background: #c8242f 0% 0% no-repeat padding-box;
  border-radius: 23px;
  opacity: 1;
  width: 138px;
  height: 45px;
  font: Roboto;
  color: #ffffff;
  border: none;
  margin-bottom: 20px;
}

.login-experts {
  text-align: left;
  font-family: Roboto;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0px;
  color: #c8242f;
  opacity: 1;
}

.login-forgot-pass {
  text-decoration: none;
  text-align: left;
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0px;
  color: #adadad;
  opacity: 1;
}

.login-ans-new {
  text-align: left;
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0px;
  color: #adadad;
  opacity: 1;
}

.login-register-here {
  text-align: left;
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 0px;
  color: #c8242f;
  opacity: 1;
}

@media (max-width: 460px) {
  .login-form-username,
  .login-form-password {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #adadad;
    border-radius: 5px;
    opacity: 1;
    display: block;
    min-width: 360px;
    min-height: 49px;
    margin: 0 0 20px 0;
  }
}

@media (max-width: 992px) {
  .login-page-img {
    margin: 0 50px 0 0;
  }

  .login-form-username,
  .login-form-password {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #adadad;
    border-radius: 5px;
    opacity: 1;
    display: block;
    min-width: 360px;
    min-height: 49px;
    margin: 0 0 20px 0;
  }

  .login-form-bottom {
    max-width: 360px;
  }
}

/* dashboard css */

.dashboard-web-logo {
  width: 142px;
  height: 30px;
  margin-left: 25px;
  margin-right: 70px;
}

.dashboard-search-icon {
  width: 16px;
  height: 16px;
  margin-right: 15px;
}

.dashboard-notification-icon {
  margin-right: 50px;
}

.dashboard-profile-icon {
  width: 44px;
  height: 44px;
  margin-right: 12px;
}

.dashboard-select-downward {
  margin-left: 15px;
}

.dashboard-popup-icon {
  max-width: 25px;
  max-height: 25px;
  color: #c8242f;
  margin: 0 10px 0 0;
}

.dashbord-sidebar-detail {
  background: #fff3f4 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}

.sidebar-detail {
  padding: 10px 0 10px 15px;
  margin: 0 0 10px 0;
}

.sidebar {
  margin-top: 25px;
}

.dashboard-col-div {
  background-color: #fafafa;
}

.dashboard-main-content-header {
  text-align: left;
  font-family: Roboto;
  font-size: 30px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-weight: 700;
}

.dashboard-main-stats-img {
  width: 33px;
  height: 33px;
  opacity: 1;
  margin-right: 20px;
}

.dashboard-main-stats-1,
.dashboard-main-stats-2,
.dashboard-main-stats-3,
.dashboard-main-stats-4,
.dashboard-main-stats-5 {
  width: 219px;
  height: 116px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  margin: 0 20px 30px 20px;
}

.dashboard-sale-country-icon {
  width: 20px;
  height: 20px;
  opacity: 1;
}

.dashboard-sale-sale-header-timeline-div {
  margin-right: 20px;
}

.dashboard-sale-country-chart {
  width: 200px;
  height: 200px;
}

.dashboard-sale-sale {
  padding: 20px;
}

.dashboard-sale-country {
  padding: 20px;
}

/* invoice table */

.dashboard-invoice-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  background-color: #ffffff;
  margin: 30px 30px 30px 0;
}

.dashboard-invoice-stats-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.dashboard-invoice-stats-header-left {
  text-align: left;
  letter-spacing: 0px;
  color: #3e3e3e;
  opacity: 1;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 700;
}

.dashboard-invoice-stats-header-right {
  text-align: left;
  letter-spacing: 0px;
  color: #c8242f;
  opacity: 1;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 700;
}

.dashboard-invoice-stats-content-header {
  text-align: left;
  font-size: 15px;
  font-family: Roboto;
  letter-spacing: 1.5px;
  color: #adadad;
  opacity: 1;
  padding: 0 0 15px 0;
}

.dashboard-invoice-stats-content-table {
  width: 100%;
  opacity: 1;
  border-collapse: collapse;
  font-family: Roboto;
}

.dashboard-invoice-stats-content-table-tr {
  border-bottom: 1px solid #adadad;
  margin: 15px;
}

.dashboard-invoice-stats-content-table-tr > td {
  margin: 15px;
}

.dashboard-invoice-stats-content-table-tr-pending,
.dashboard-invoice-stats-content-table-tr-failed,
.dashboard-invoice-stats-content-table-tr-paid {
  padding: 14px 14px 14px 0;
}

.dashboard-invoice-stats-content-table-tr-paid > span {
  width: 50px;
  height: 26px;
  background: #ebffef 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  padding: 5px 10px;
}

.dashboard-invoice-stats-content-table-tr-failed > span {
  width: 60px;
  height: 26px;
  background: #fff5f5 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  padding: 5px 10px;
  color: red;
}

.dashboard-invoice-stats-content-table-tr-pending > span {
  width: 75px;
  height: 26px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  color: #bababa;
  padding: 5px 10px;
}

.table-responsive {
  max-width: 1000px;
}

@media (max-width: 992px) {
  .dashboard-toggle-logo {
    display: none;
  }

  .dashboard-notification-icon,
  .dashboard-select-downward {
    display: none;
  }

  .dashboard-search-toggle {
    margin-bottom: 10px;
  }

  .dashboard-sidebar-toggle {
    display: none;
  }

  .dashbord-sidebar-detail {
    width: 200px;
  }

  .offcanvas-title {
    max-width: 25px;
  }
}

@media (min-width: 992px) {
  .dashboard-nav-sidebar-toggle {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .dashboard-sale-country {
    margin-top: 20px;
  }
}

.innerpage-main-content {
  background-color: #fafafa;
  width: 100%;
  padding: 40px 0 20px 50px;
}

.innerpage-main-content-title {
  font-weight: 600;
}

.innerpage-main-content-page {
  background-color: #ffffff;
  padding: 20px;
  margin-right: 50px;
}

.innerpage-content-other-design-radio,
.innerpage-content-other-design-call-action {
  margin: 30px 0;
}

.innerpage-content-other-design-radio > h6,
.innerpage-content-other-design-check > h6,
.innerpage-content-other-design-call-action > h6,
.innerpage-content-other-design-radio-file > h6,
.innerpage-content-other-design-tabs > h6,
.innerpage-content-other-design-snackbar > h6 {
  font-size: 17px;
}

.innerpage-content-other-design-snackbar {
  margin: 15px 0 0 0;
}

.innerpage-content-other-design-call-action-btn > button {
  margin: 0 10px 0 0;
}

.innerpage-content-other-design-snackbar-error-img {
  width: 20px;
}

.alert-custom {
  background-color: #ffa200;
  color: rgb(254, 0, 0);
}

.alert-secondary {
  margin-right: 10px;
}

.alert-error-message {
  color: #ff3535;
}

.alert-info-message {
  color: #00b9e1;
}

.alert-worning-message {
  color: #ffa800;
}

.alert-success-message {
  color: #00af27;
}

.alert-error {
  background: #ffffff;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}

.form-group-up {
  border: 1px solid #ff3535 !important;
  border-radius: 30px !important;
}
